.sign-up-link {
    text-align: center;
    margin-top: 20px;
  }
  
  .sign-up-link a {
    color: var(--ion-color-primary); /* Adjust the color to your app's theme */
    text-decoration: underline;
  }
  