.book-list ion-item {
    border-radius: 8px;
    margin: 10px 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .book-title {
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .form-card {
    margin: 20px 10px;
    border-radius: 12px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .form-actions {
    margin-top: 15px;
    display: flex;
    justify-content: center;
  }
  
  .edit-modal {
    --height: 50%;
    --width: 80%;
    --border-radius: 12px;
    overflow: hidden;
  }
  
  ion-modal {
    --background: #fff;
    --border-radius: 12px;
  }
  