<ion-header>
  <ion-toolbar>
    <ion-title>BookMood</ion-title>
    <ion-buttons slot="end">
      <!-- Add Book button -->
      <ion-button (click)="goToCrudBookPage()">
        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
      </ion-button>
      
      <!-- Favorites Button -->
      <ion-button (click)="viewFavorites()" fill="clear">
        <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
      </ion-button>

      <ion-buttons slot="end">
        <ion-button (click)="onLogout()">
          <ion-icon slot="icon-only" name="log-out"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Loading Indicator -->
  <div *ngIf="isLoading">Loading...</div> <!-- Show loading message while fetching data -->

  <!-- Trending Section -->
  <div class="trending-section" *ngIf="books.length > 0">
    <h2>Trending Now</h2>
    <div class="trending-grid">
      <div class="trending-book" *ngFor="let book of books" (click)="viewBookDetails(book.id)">
        <img [src]="book.image" alt="{{ book.title }}" />
        <h3>{{ book.title }}</h3>
      </div>
    </div>
  </div>

  <!-- Upcoming Section -->
  <div class="upcoming-section" *ngIf="books.length > 1">
    <h2>Upcoming Books</h2>
    <div class="upcoming-grid">
      <ion-card *ngFor="let book of books.slice(1)" (click)="viewBookDetails(book.id)">
        <img [src]="book.image" />
        <ion-card-title>{{ book.title }}</ion-card-title>
      </ion-card>
    </div>
    
  </div>
</ion-content>
